.app {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100vh;
    /* grid-template-areas:
    "a a a a b"
    "a a a a b"
    "a a a a b"
    "a a a a c"; */
    grid-auto-rows: 1fr;
}

body {
    overflow: hidden;
    user-select: none;
}

.characterSelect {
    z-index: 10;
    background-color: rgba(128, 128, 128, 0.505);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 100%;
    height: 50px;
}

.title {
    color: white;
    pointer-events: none;
    text-align: center;
}

.circle {
    position: fixed;
    right: 5%;
    top: 5%;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: rgba(128, 128, 128, 0.493);
    justify-items: center;
    align-content: center;
    transition: 0.5s;
}

.closeBtn {
    color: white;
    font-size: large;
}

.circle:hover {
    background-color: rgba(0, 0, 0, 0.74);
    cursor: pointer;
}

.characterGrid {
    display: flex;
    gap: 50px;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    align-items: end;
}

.characterContainer {
    width: 25%;
    height: auto;
}

.characterContainer span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: large;
    color: white;
}

.characterContainer:hover {
    cursor: pointer;
}

.characterImg {
    width: 100%;
    height: auto;
}

.sidePanel {
    height: 100vh;
    /* overflow-y: auto; */
    /* grid-area: b; */
}

#imgContainer {
    height: calc(100% - 110px);
    overflow-y: auto;
    padding-bottom: 10px;
}

.bottomRightPanel {
    /* grid-area: c; */
    /* height: 20%; */
    height: 100px;
    padding-top: 15px;
}

.leftButtons {
    width: 100px;
    position: fixed;
    top: 5%;
    left: 5%;
    height: 100px;
}

.poseButton {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: black;
    transition: 0.5s;
}

.buttonContainer {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h3 {
    text-align: center;
    pointer-events: none;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.859);
    transition: 0.5s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.14), 0 17px 50px 0 rgba(0, 0, 0, 0.127);
}

button:hover {
    cursor: pointer;
    color: black;
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.selection {
    height: auto;
    width: calc(24% - 2px);
    border: 2px solid white;
}

.selection:hover {
    cursor: pointer;
    transition: 0.5s;
}

.selected {
    border: 2px solid black;
}

#canvas {
    width: 100%;
    height: auto;
    position: relative;
    top: -31%;
    /* grid-area: a; */
}

.messageBox {
    width: 100%;
    height: 50px;
}

.toast {
    height: auto;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.719);
    backdrop-filter: blur(20px);
    border: solid 2px #2F4F4F;
    border-radius: 25px;
    margin: auto;
    padding: 20px;
    position: absolute;
    bottom: 5%;
    left: 25%;
    display: none;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    pointer-events: none;
}

.toast h2 {
    color: white;
    justify-self: center;
}